/* Font */

@font-face {
	font-family: 'BebasNeue';
	src: url(fonts/BebasNeue-Regular.woff) format('woff');
}

/* Style Utama */

body {
	font: 27px/36px 'BebasNeue', 'Arial Narrow', Arial, sans-serif;
	background-color: #ddd;
}

h1	{
	font-size: 80px;
	margin: 50px 0;
	text-align: center;
	text-shadow: 1px 1px 1px white;
}

.container {
	width: 90%;
	height: auto;
	margin: auto;
	padding: 10px 0px;
	background-color: white;
	border-radius: 10px;
}

.gallery li {
	width: 120px;
	height: 120px;
	border: 3px solid #666;
	float: left;
	text-align: center;
	margin: 10px 48px 40px 30px;
}

.gallery li a {
	color: #551A8B;
	text-decoration: none;
}

.gallery .build,
.gallery .material {
	position: absolute;
	color: white;
}

.gallery .build {
	top: 90%;
	left: 40%;
}

.gallery .material {
	top: 90%;
	left: 55%;
}

.overlay {
	width: 0;
	height: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	background: rgba(0,0,0,0);
	z-index: 9999;
	transition: .8s;
	text-align: center;
	padding: 100px 0;
}

.overlay:target {
	width: auto;
	height: auto;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.7);
}

.overlay img {
	max-height: 100%;
	box-shadow: 2px 2px 7px rgba(0,0,0,.5);
}

.overlay:target img {
	animation: fadeAja 1s;
}

.overlay .close {
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -20px;
	color: white;
	text-decoration: none;
	background-color: black;
	border: 1px solid white;
	line-height: 14px;
	padding: 7px;
	opacity: 0;
}

.overlay:target .close {
	animation: slideDownFade .5s .5s forwards;
}

.clear {
	clear: both;
}

/* Animate */
@keyframes fadeAja {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes slideDownFade {
	0% {
		opacity: 0;
		margin-top: -20px;
	}

	100% {
		opacity: 1;
		margin-top: 0;
	}
}